<div class="home-index main-body" id="main-content">
	<div id="hero">
		<div class="row">
		  <div class="small-12 columns">
		  	<h2>Fill more jobs for $15/month</h2>
		  </div>
	    	<p>
	      <%= link_to "Learn More", how_it_works_path, class: "btn btn-primary btn-lg" %>
	  		</p>   
	  </div> 
	</div> <%# hero %>
</div> <%# home-index main-body %>
