<div class="home-index main-body" id="main-content">
	<div id="hero">
		<%= image_tag('https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_960_720.jpg', class: "home-bg") %>
	</div> <%# hero %>
<div class="container">
	<div class="home-body">
		<div class="row">
		  <div class="col-md-6">
		  	<div class="fill-jobs">
		  		<h1>Fill more jobs for $15/month.</h1>
		  		<div class="learn-more">
	    	<p> <%= link_to "Learn More", how_it_works_path, class: "btn btn-primary btn-lg" %> </p> 
	  			</div> 
		  	</div>
		  </div>
	  </div> 
</div> 
<div class="container">
		<div class="home-row">
			<div class="row">
				<div class="col-md-4">
					<h2>
						<center>Access to Millions of Resumes</center>
					</h2>
					<p>
						Instantly expand your candidate pool from several agency databases and increase your odds of finding the right candidate for that hard-to-fill job.
					</p>
				</div>
				<div class="col-md-4">
					<h2>
						<center>Unlimited Job Postings</center>
					</h2>
					<p>
						Leverage your local Recruiter network and use it as a sourcing pipeline for resumes that are relevant to your needs.
					</p>
				</div>
				<div class="col-md-4">
					<h2>
						<center>Collaborate with Local Recruiters</center>
					</h2>
					<p>
						Combine resources to create an entirely new pipeline that you never had before. The more resumes you send to others, the higher chances you have to fill your own job.
					</p>
				</div>
			</div>
		</div> <%# home-row %>
	</div> <%# container %>
</div> <%# container %>
</div> <%# home-index main-body %>
