<div class="jumbotron center">
  <h1>For Recruiters. By Recruiters.</h1>
   <p>Sign up and fill more jobs. | Only $10/month</p>
    <p>
      <%= link_to "Learn More", how_it_works_path, class: "btn btn-primary btn-lg" %>
  	</p>    
</div>
