<div class="home-index main-body" id="main-content">
	<div id="hero">
		<%= image_tag('https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_960_720.jpg', class: "home-bg") %>
	</div> <%# hero %>
<div class="container">
	<div class="home-body">
		<div class="row">
		  <div class="col-md-6">
		  	<div class="fill-jobs">
		  		<h1>Fill more jobs for $15/month.</h1>
		  		<div class="learn-more">
	    	<p> <%= link_to "Learn More", how_it_works_path, class: "btn btn-primary btn-lg" %> </p> 
	  			</div> 
		  	</div>
		  </div>
	  </div> 
</div> 
<div class="container">
		<div class="home-row">
			<div class="row">
				<div class="col-xs-6 col-md-4">
					<h2>
						<center>Access to Millions of Resumes</center>
					</h2>
					<p>
						<center>Instantly multiply your candidate pipeline by combining all of the agency databases in your local area.</center>
					</p>
				</div>
				<div class="col-xs-6 col-md-4">
					<h2>
						<center>Collaborate With Other Recruiters</center>
					</h2>
					<p>
						<center>Send the unused candidates in your database to Recruiters who needs them in exchange for relevant candidates for your specific openings.</center>
					</p>
				</div>
				<div class="col-xs-6 col-md-4">
					<h2>
						<center>Earn More Commission</center>
					</h2>
					<p>
						<center>Receive qualified candidates from other Recruiters. Increase the chances of filling your open job and earn more commission.</center>
					</p>
				</div>
			</div>
		</div> <%# home-row %>
	</div> <%# container %>
</div> <%# container %>
</div> <%# home-index main-body %>
