<div class="jumbotron center">
  <h1>Sign up. Fill jobs.</h1>
   <p>For Recruiters. By Recruiters. | Fill your jobs for $10/month</p>
    <p>
      <%= link_to "Learn More", how_it_works_path, class: "btn btn-primary btn-lg" %>
  	</p>    
</div>
