<div class="jumbotron center">
   <h1>How it works<h1>
   	<h3>Jobfill was created for one reason only: to fill jobs.</h3>
   	
   	<p><br>1. Sign up and post a job that you've been having trouble filling.
   	<br><br>2. If another recruiter in your area has a qualified candidate for your position they will contact you!
   	<br><br>3. <b>However</b>, in order to receive a qualified candidate, you must have one to trade!
   	<br><br><i>Think of it as a resume trading service. If I'm looking for an Architectual Designer who specializes in Revit and at the moment have qualified Machine Operators but don't have anywhere to place them, I can make a request to trade. Best case scneario is that both recruiters fill the job, both recruiters make money, everyones happy.</i></p>
</div>