<div class="jumbotron">
   <h1> <center> - Our Mission - </center> </h1>
   	<h3><center> To help Recruiters fill more jobs </center></h3><br>
 		<h1><center>About<center></h1><br>
 			<p><strong>We Recruiters have a problem.</strong> If we don't fill our jobs, then it's our fault. Simple. The only thing standing in between us making money and getting fired is our ability to put together a good boolean search. <br><strong>There has to be more.</strong> And it turns out there is. After some major brainstorming we realized that some of the methods we've used in the past could actually be more valuable than we've given credit to. By leveraging our in-person network of local Recruiters from other agencies we have been able to fill a lot more jobs. If you're thinking: <i>"But aren't they competition?" </i> The answer is yes, but not the kind of competition you would expect. As a Recruiter, we're only really competing with the specific Recruiter who is working on the same job, for the same client as we are. If they aren't then they can actually be used as an extra pair of eyes within your network.</p>

 			<p><strong>When you have a relationship with a Recruiter who has access to an entirely different database of candidates, your resources multiply.</strong> For example, when a Recruiter from a different agency was working on a job they couldn't find the right candidate for, they would reach out to us and ask if we had any relevant resumes that we could send them. If at that time we didn't have any open jobs that one of our candidates would be a good fit for but saw a clear fit for the other Recruiter's needs, we would send them over. They would of course do the same for us and as a result, countless jobs have been filled because of it. <strong>With Jobfill you're not a solo Recruiter anymore.</strong> Now you have an entire network of Recruiters that want you to fill your job just as much as they want to fill their own. The more Recruiters that join, the stronger we all  become. This system has been proven to work and so we built Jobfill so that you can join in our success.</p>

 			<center>_________________________________________________________________</center></p>

		<h3><i>On a personal note...</i></h3>
   		<p><i>We built Jobfill for two reasons. To help other Recruiters and to help ourselves. We understand how difficult some jobs can be so we created this platform so that we can <u>all</u> be more effective Recruiters. This system only works if we all work together and support each other. That means keeping the quality of the resumes we send at top notch. We're professionals afterall, and our only job is to identify and source quality candidates. There's a standard here, and that's why we need you to report any irrelevant resume you receive. We also ask that you give us as much feedback and suggestions as you possibly can. Do you have a specific feature that you think would help you? Tell us so that we can build it for you. We want you to become the most successful Recruiter you can be.<br> <br>Happy Recruiting!
   			<br>-The Jobfill Team</i></p>
</div>




