<div class="jumbotron">
   <h1>Discover Jobfill<h1>
   		<p>Jobfill is a resume trading platform that was built by recruiters for recruiters. Our mission is simple: to fill jobs. We strive to become the central hub for agency and freelance recruiters who want to increase the amount of job orders they fill and identify top talent from already established and sometimes competing candidate databases. </p> 
   		<p>With Jobfill, you're no longer dependant on your own individual recruiting skills, but you are now apart of a collaborative network of likeminded recruiters that empower and add value to your efforts.</p>
</div>