<div id="hero">
      <%= image_tag('https://static.pexels.com/photos/80378/study-pen-school-notebook-80378.jpeg', class: "faq-bg") %>
   </div> <%# hero %>
   <div class="faq">
      <div class="row">
        <div class="faq-text">
          <h1> <center> Frequently Asked Questions </center> </h1><br>
          <h3> <center>Jobfill is a resume trading platform that was built by Recruiters for Recruiters. </center> </h3>

                  <h3> <center>Our mission is simple: to help Recruiters fill more jobs.</center> </h3>
                  <p><center>_________________________________________________________________</center></p><br>
        </div>
      </div>
  </div>

<div class="jumbotron">
  <div class="container">
    <div class="faq-row">
      <div class="row">
        <div class="col-xs-6 col-md-4">
           <h3>
              <center><strong>How does this work?</strong></center>
           </h3>
           <p>
              <center>Post your current job openings, send unused Candidates to other Recruiters and get Candidates sent to you in return for your jobs. Check out our <%= link_to "how it works", how_it_works_path %> page to get a better understanding.</center>
           </p>
        </div>
        <div class="col-xs-6 col-md-4">
           <h3>
              <center><strong>How much does this cost?</strong></center>
           </h3>
           <p>
              <center>It's free for now but that might change in the future. You should take advantage of this opportunity while it's here.</center>
           </p>
        </div>
        <div class="col-xs-6 col-md-4">
           <h3>
              <center><strong>Why would I send my Candidates to another Recruiter?</strong></center>
           </h3>
              <center>The Candidates you're sending to other Recruiters are the ones that you don't have a current need for. They can either be lost in your database or be traded in exchange for a Candidate that you need right now. Your ideal Candidate may not be in your database, but they will defintely be in someone else's.</center>
           </p>
        </div>
      </div>
    </div> <%# faq-row %>
    <div class="faq-row">
      <div class="row">
        <div class="col-xs-6 col-md-4">
           <h3>
              <center><strong>What <u>exactly</u> am I getting?</strong></center>
           </h2>
           </h3>
              <center>‣ Collaboration with a network of local Recruiters.
              <br>‣ Expanding your Candidate pipeline from X to 10X more resumes.
              <br>‣ Powerful advantage to filling more jobs.
              <br>‣ Positioning yourself to earn more money.</center>
           </p>
      </div>
      <div class="col-xs-6 col-md-4">
          <h3>
            <center><strong>How can you ensure that I'll receive a quality resumes?</strong></center>
           </h3>
           <p>
              <center>For the time being, we can't guarantee each Candidate you receive will be the perfect fit. Let us know if you received a totally irrelavent Candidate. We will conduct a review, refund your inbox credit and hold that Recruiter responsible.</center>
           </p>
      </div>
      <div class="col-xs-6 col-md-4">
          <h3>
              <center><strong>What if someone tries to steal my client?</strong></center>
          </h3>
          <p>
              <center>You will never be asked who your clients are. That information isn't required to create a job posting or any other part of the process.<br><u>Never give that information out to anyone.</u></center>
           </p>
        </div>
     </div>
  </div> <%# faq-row %>
  <div class="faq-row">
     <div class="row">
        <div class="col-xs-6 col-md-4">
           <h3>
              <center><strong>What if I want to keep my identity Anonymous?</strong></center>
           </h2>
           </h3>
              <center>No other Recruiter has access to any of your personal information except your username and job posting details. We ask for the company you work for upon registration so that we know where to grow our service to make you more successful.<br><u>That information will never be shared.</u></center>
           </p>
        </div>
        <div class="col-xs-6 col-md-4">
           <h3>
              <center><strong>Are Freelance Recruiter allowed to join?</strong></center>
           </h3>
           <p>
              <center>In reality, this is an even better opportunity for Freelance Recruiters. Your resources can grow expotentially because you'll have a network with millions of Candidates from Agency databases.</center>
           </p>
        </div>
        <div class="col-xs-6 col-md-4">
           <h3>
              <center><strong>Who are you?</strong></center>
           </h3>
           <p>
              <center>We're Recruiters just like you. Read more about us <%= link_to "here.", about_path %> </center>
           </p>
        </div>
     </div>
  </div> <%# faq-row %>
</div>

<p><center>_________________________________________________________________</center></p><br>

  </div>
  <div class="container">
         <center><h2><strong>You're not alone anymore.</strong></h2>
         <p>You are now apart of a network of Recruiters who are just like you.
         <br>Sign up to start filling more jobs now.</p>
         <%= link_to "Get Started", how_it_works_path, class: "btn btn-primary btn-lg" %></center>
         </div>






