<div id="hero">
      <%= image_tag('https://images.pexels.com/photos/317385/pexels-photo-317385.jpeg?w=940&h=650&auto=compress&cs=tinysrgb', class: "about-bg") %>
   </div> <%# hero %>
   <div class="how-it-works">
      <div class="row">
         <div class="how-it-works-text">
            <h1> <center> How it Works </center> </h1>
            		<h3> <center>Jobfill is a resume trading platform that was built by Recruiters for Recruiters. </center> </h3>

                  <h3> <center>Our mission is simple: to help Recruiters fill more jobs.</center> </h3>
                  <p><center>_________________________________________________________________</center></p><br>
         </div> <%# how-it-works-text %>
      </div> <%# row %>
   </div> <%# how-it-works %>

<div class="jumbotron">
   <div class="container">
   		<h2><center><strong>Send unused candidates to Recruiters who need them.</strong></center></h2>
         <h2><center><strong>Receive candidates from Recruiters in your area.</strong></center></h2>
         <p><center>_________________________________________________________________</center></p><br>
      <div class="how-it-works-row">
         <div class="row">
            <div class="col-xs-6 col-md-4">
               <h3>
                  <center><strong>1. Post Your Current Openings</strong></center>
               </h2>
               </h3>
                  <center>Post all of your current job openings so that other Recruiters can see what requirements you're looking for in a candidate.</center>
               </p>
            </div>
            <div class="col-xs-6 col-md-4">
               <h3>
                  <center><strong>2. Submit Unused Candidates</strong></center>
               </h3>
               <p>
                  <center>Browse job postings from other Recruiters and identify a good match for one of the candidates in your database. Once identified, submit your Candidate's resume to that position. Every time you submit a Candidate, you will earn 1 credit.</center>
               </p>
            </div>
            <div class="col-xs-6 col-md-4">
               <h3>
                  <center><strong>3. Receive Qualified Resumes</strong></center>
               </h3>
               <p>
                  <center>Candidates that are qualified by other Recruiters will be sent to your inbox. <strong>The more candidates you submit to other job openings, the more you will receive for your own.</strong></center>
               </p>
            </div>
         </div>
      </div> <%# home-row %>
   		<center><h3><strong>In order to recieve a resume, you must send one.</strong></h3></center>
         <p><center>_________________________________________</center></p>
         <div class="how-it-works-row">
         <div class="row">
            <div class="col-xs-6 col-md-4">
               <h3>
                  <center><strong>Privacy</strong></center>
               </h2>
               </h3>
                  <p>✔ No personal info is seen by others.
                  <br>✔ Your company is anonymous.
                  <br>✔ Your clients are anonymous.
                  <br>✔ Your privacy is safe.</p>
                  <p>Find out more at <%= link_to "FAQ", faq_path %>!<p>
                  </p>
            </div>
            <div class="col-xs-6 col-md-4">
               <h3>
                  <center><strong>No Corporate Recruiters</strong></center>
               </h3>
               <p>
                  <center>We keep track of who joins the Jobfill platform. Corporate Recruiters are not allowed to join as they are our true competitors.</center>
               </p>
            </div>
            <div class="col-xs-6 col-md-4">
               <h3>
                  <center><strong>Commission</strong></center>
               </h3>
               <p>
                  <center>As a Recruiter, you only have yourself to rely on. With Jobfill, you are now supported by an entire network of Recruiters who collectively have 100M+ resumes in their databases. Jobfill will make you a more effective Recruiter and earn you more money.</center>
               </p>
            </div>
         </div>
      </div> <%# home-row %>
</div> <%# container %>
</div> <%# jumbotron %>
         <center><h2><strong>You're not alone anymore.</strong></h2>
         <p>You are now apart of a network of Recruiters who are just like you.
         <br>Sign up to start filling more jobs now.</p>
         <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-lg" %></center>
         </div>
</div> <%# container %>






