<div class="jumbotron">
   <h1> <center> How it Works </center> </h1>
   		<h3> <center> <strong> Jobfill is a resume trading platform that was built by Recruiters for Recruiters. </strong> </center> </h3>

         <h3> <center> <strong> Our mission is simple: to help you fill more jobs. </strong> </center> </h3>
         <p><center>_________________________________________________________________</center></p><br>

   		<p>‣ Do you have an open position that you can't find the right candidate for? 
   		<br>‣ What about a database filled with thousands (millions) of unused resumes?
   		<br>‣ Jobfill was built to turn those unused resumes into placements.</p>
         <p><center>_________________________________________________________________</center></p>
   		 
   		<h2><center><strong>« Send unused candidates to Recruiters who need them. »</strong></center></h2>
         <h2><center><strong>» Receive candidates from Recruiters who don't need them. «</strong></center></h2>
         <p><center>_________________________________________________________________</center></p><br>
   		<p>We follow a very simple rule: <strong>In order to recieve a resume <u>you must first give one away.</strong></u></p>
   		<p><strong>Step 1:</strong> Register.</p> 
   		<p><strong>Step 2:</strong> Post one of your current job openings.</p>
   		<p><strong>Step 3:</strong> Send out as many resumes as you can to other job postings.<br>
         <i>(For every resume you send out, you may only receive that equal amount.)</i></p>
         <p><strong>Step 4:</strong> Receive qualified resumes sent by other Recruiters for your job posting.</p>
         <p><strong>Step 5:</strong> Continue this process until you find the right candidate!</p>
         <p>_________________________________________________________________</p>
         <h2><strong>Privacy</strong></h2>
         <p>✔ No personal information is seen by others.
         <br>✔ Your clients are anonymous.
         <br>✔ Your privacy is safe.</p>
         <p>Find out more at <%= link_to "FAQ", faq_path %>!<p>

         <p>_________________________________________________________________</p>
         <h2><strong>You're not alone anymore.</strong></h2>
         <p>You are now apart of a network of Recruiters who are just like you.
         <br>Sign up to start filling more jobs now.</p>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>







