<div class="jumbotron">
   <h1>How it Works<h1>
   		<p>Jobfill is a resume trading platform that was built by recruiters for recruiters. Our mission is simple: to fill jobs.</p> 
   	<h2><i>"You must give in order to receive."</i></h2>
   		<p>We follow a very simple rule and that is in order to recieve a resume, you must first give one away.</p>
   		<p>Upon registration, you may post a job that you trying to find qualified candidates for. Your job posting can be viewed by other users.
</div>