<div class="jumbotron">
   <h1><strong>How it Works</strong><h1>
   		<p><strong>★ Jobfill is a resume trading platform that was built by Recruiters for Recruiters.</strong></p>
         <p><strong>★ Jobfill's mission is simple: to fill jobs.</strong></p>
   		<p>‣ Do you have an open position that you can't find candidates for? 
   		<br>‣ What about a database filled with thousands (millions) of unused resumes?
   		<br>‣ Jobfill was built to turn those unused resumes into placements.</p>
         <p>_________________________________________________________________</p>
   		 
   		<h2><strong>« Send unused candidates to Recruiters who need them.</strong></h2>
         <h2><strong>» Receive unused candidates from Recruiters who don't need them.</strong></h2>
   		<p>We follow a very simple rule: <strong>In order to recieve a resume you must first give one away.</strong></p>
   		<p><strong>Step 1:</strong> Register.</p> 
   		<p><strong>Step 2:</strong> Post one of your current job openings.</p>
   		<p><strong>Step 3:</strong> Send out as many resumes as you can to other job postings.<br>
         <i>(For every resume you send out, you may only receive the equal amount.)</i></p>
         <p><strong>Step 4:</strong> Receive resumes sent to you by other Recruiters for your job posting.</p>
         <p><strong>Step 5:</strong> Continue this process until you fill your position!</p>
         <p>_________________________________________________________________</p>
         <h2><strong>Privacy</strong></h2>
         <p>✔ No personal information is seen by others except your Username.
         <br>✔ Your clients are anonymous.
         <br>✔ Your privacy is safe.</p>
         <p>_________________________________________________________________</p>
         <h2><strong>Does this work?</strong></h2>
         <p>→ Jobfill has been tested and proven because all Recruiters want the same thing.
         <br>→ It's your responsibility to make sure each candidate you send is qualified and relevant to the job requirements.</p>
         <p>→ We track the quality of the resumes that you send to other Recruiters.
         <br><strong>→<u> If you take advantage of the system, you may be subject to a permanent ban.</u></strong></p>
         <p>_________________________________________________________________</p>
         <h2><strong>You're not alone anymore.</strong></h2>
         <p>☟ You are now apart of a network of Recruiters who are just like you.</p>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>







