<div class="jumbotron">
   <h1>How it Works<h1>
   		<p><strong>Our mission is simple: to fill jobs.</strong></p>
   		<p><strong>Jobfill is a resume trading platform that was built by recruiters for recruiters.</p>
   		<p>- Do you have a job order that you just can't fill? 
   		<br>- What about a database filled with thousands of unused resumes?
   		<br>- Jobfill was built to turn those unused resumes into comission.</p>
   		 
   		<h2>How: By sharing resources with other Recruiters.</h3>
   		<p>We follow a very simple rule, in order to recieve a resume you must first give one away.</p>
   		<p>1. Register.</p> 
   		<p>2. Post a job that you're trying to find qualified candidates for. </p>
   		<p>3. Send out as many resumes as you can.</p>
   		<p>The more resumes you send out, the more you receive. By doing this, you will be sent qualified candidates in order to fill your job quicker.</p>
</div>