// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// post index

.card {
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	background-color: white;
	margin: 0;
  padding: 0;
}

.job-list {
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 0px;
	padding-bottom: 20px;
	margin-top: 15px;
}

.post-new-job {
	padding-top: 15px;
}

// forms

.label {
	margin-top: 30px;
}

.form-control {
	width: 50%;
	margin-bottom: 5px;
}

.industry-form {
	margin-top: 10px;
}

.location-form {
	margin-top: 10px;
}

.requirement-form {
	margin-top: 10px;
}

// new post

.new-post {
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	background-color: white;
	margin: 0;
  padding: 0;
}

.new-post .card {
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 0px;
	padding-bottom: 20px;
	margin-top: 15px;
}







