<%= form_for [@post, @resume] do |f| %>

<div class="form-group">
    <%= f.label :document, "Upload a Resume for:" %> 
    <%= f.file_field :document, class: "form-control" %>
  </div>
<div class="form-group">
    <%= f.submit "Send Resume", class: "btn btn-primary" %>
 </div>

<% end %>